---
layout: default
title: Coding for Kids | CodeBricks Auckland
custom_css: purple
custom_font: font2

hero_area:
  enable: true
  bg_image: "/assets/images/art/study2.jpg"
  title: "Creative AI Coding for Kids in Auckland: Building Logical Thinking and STEM Skills"
  btn_text: "Get Started"
  btn_url: "#whatwedo"
three_columns_area:
  enable: true
  title: "What We Do?"
  sub_title: "CodeBricks Offers Fun and Interactive, Expert-Designed Kids Coding Classes to Enhance Critical Problem Solving Skills"
  services:

    - title: "Block Coding Programs"
      description: "Discover Fun, Creative, and Visual Programming with Our Interactive Foundational Courses Using Block Coding Platforms Like Scratch"
      image: "/assets/images/concept/coding4@2x.png"
      button_text: "Learn More"
      button_url: "/whatwedo-1"

    - title: "Python Courses"
      description: "Explore Our Tiered Python Programming Courses for Kids, From Basic Syntax to Creating Games, Animations, and Simple Apps"
      image: "/assets/images/concept/coding1@2x.png"
      button_text: "Learn More"
      button_url: "/whatwedo-2"

    - title: "AI Education"
      description: "Unlock the World of Artificial Intelligence for Kids with Engaging Courses Using Friendly Tools to Create and Apply Basic AI Models in Projects"
      image: "/assets/images/concept/coding2@2x.png"
      button_text: "Learn More"
      button_url: "/whatwedo-3"

two_columns_one_area:
  enable: true
  title: "How It Works?"
  sub_title: "Empowering Young Minds: Tailoring Educational Journeys in Coding with Engaging Material, Personalized Learning Paths, Creative Assignments, and Supportive Feedback"
  image: "/assets/images/art/codebricks.png"
  lists:

    - title: "Interactive Course Material"
      description: "Utilizes child-friendly, interactive platforms, and interfaces to make coding concepts easy and fun to learn, often involving visual block coding or simple scripting."

    - title: "Personalized Progress Tracking"
      description: "Adapts learning pathways based on individual student’s progress and aptitude, ensuring they grasp concepts fully before moving to more advanced topics."

    - title: "Engaging Homework Assignments"
      description: "Provides practical and fun coding assignments that reinforce learning and enable kids to apply their new skills in a project-based environment."

    - title: "Continuous Evaluation"
      description: "mplements regular assessments and feedback loops to understand students' strengths and areas needing improvement, ensuring a supportive and constructive learning journey."

two_columns_two_area: 
  enable: true
  title: "Why Choose Us?"
  sub_title: "So here are a few reasons why our valued customers choose us."
  image: "/assets/images/concept/concept17@2x.png"
  tabs:

    - title: "Expert-Led Learning"
      content: |
        "Our instructors are not only AI experts with deep understanding and experience in software design but also have rich teaching experience, ensuring a professional, comprehensive, and student-friendly learning environment."

    - title: "Certified Excellence"
      content: |
        "Possessing Microsoft certifications indicates a recognized standard of expertise and proficiency in technology and software, ensuring your children are being guided by certified professionals in the field."

    - title: "Expert-Designed Curriculum"
      content: |
        "The curriculums are crafted by experts, ensuring that your child’s learning is aligned with current technological trends, providing them with relevant skills that are applicable in real-world scenarios. Our meticulously developed learning platforms enhance interactive and effective learning experiences."

video_area:
  enable: false
  title: "How We Do It?"
  sub_title: "Find out everything you need to know about creating a business process model."
  image: "/assets/images/art/bg25.jpg"
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"

blogs_area:
  enable: true
  title: "Code Bricks"
  sub_title: "Explore our latest updates and discover in-depth technical articles."
  posts_number: 5

testimonials_area:
  enable: true
  title: "Happy Students"
  sub_title: "Students satisfaction is our major goal. See what our customers are saying about us."
  image: "/assets/images/art/woman.png"
  testimonials:

    - quote: |
        "Fantastic experience at this coding school! The instructors make learning fun and engaging for kids, gradually building their skills from basic coding to creating their own projects. A wonderful foundation in technology for the younger generation!"
      author: "Grace"
      bio: "Ethan's Mom"
  
    - quote: |
        "An impressive coding school that wonderfully blends fun and learning! My child developed clear, practical programming skills through their engaging courses and thoughtful instructors. Their personalized approach to teaching Python and block coding made a noticeable difference. Highly recommended!"
      author: "Lily"
      bio: "Aiden's Mom"
  
    - quote: |
        "Enthralling journey for young coders! The school beautifully marries technology and education, offering kids a robust foundation in coding and AI. The instructors adeptly nurture curiosity, guiding them from basics to building their own mini-projects. A tech playground for kids!"
      author: "David"
      bio: "Liam's Dad"

clients_carousel:
  enable: true

pricing_table:
  enable: false
  title: "Our Pricing"
  sub_title: "We offer great prices, premium products and quality service for your business."
  btn_url: "#"
  description: |
    "Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      pricing_url: "#"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      pricing_url: "#"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

faq_area:
  enable: true
  title: "FAQ"
  sub_title: "If you don't see an answer to your question, you can send us an email from our contact form."
  
  tabs:
    - question: "What is the appropriate age to start learning coding?"
      answer: |
        We recommend children start their coding journey from the age of 8 onwards. At this age, they typically possess the cognitive skills necessary to comprehend and apply basic programming concepts. Our courses are tailored to be age-appropriate, ensuring a comfortable and effective learning experience for each child.

    - question: "What learning pathway would you recommend for a beginner in coding?"
      answer: |
        We generally suggest starting with block coding platforms like Scratch or Code.org, which offer a fun and interactive introduction to the world of coding. Once they grasp the basics, progressing to a text-based programming language like Python enables a deeper understanding of coding concepts. After mastering Python, children can explore more advanced topics such as Machine Learning, AI, and Deep Learning to work on research projects and practical applications.

    - question: "Does my child need a personal computer or notebook for the course?"
      answer: |
        Yes, having a personal notebook or computer is beneficial for uninterrupted learning and practicing coding skills. It allows your child to work, explore, and create projects during and outside of the class, solidifying their learning and enabling them to undertake personal projects.

    - question: "Are the courses compatible with all types of computers, including Chromebooks, Windows, and Mac?"
      answer: |
        Our courses are designed to be versatile and are compatible with various operating systems, including Chromebooks, Windows, and Mac. We utilize platforms and tools that are accessible and provide consistent performance across different systems, ensuring every student, regardless of their device type, receives a quality learning experience.

    - question: "How will learning to code benefit my child in the long run?"
      answer: |
        Coding is not just about understanding technology but also about enhancing logical thinking, problem-solving, and creativity. As technology permeates every field, having coding skills opens doors to various career paths, including software development, data analysis, artificial intelligence, and more. Moreover, understanding how to communicate with machines and utilize technology effectively is becoming an essential skill in the modern world.
    - question: "How many students are typically in one class together?"
      answer: |
        We believe in providing focused and personalized attention to each student, and therefore, we maintain small class sizes, typically consisting of 4 to 6 students. This enables an interactive and supportive learning environment, ensuring that each child receives the attention and guidance they need.
    - question: "How is a student's performance evaluated throughout the course?"
      answer: |
        Student performance is assessed through a combination of quizzes, homework assignments, and project work to evaluate their understanding and application of the concepts taught. We provide a comprehensive evaluation report periodically to help both students and parents understand the progress made and identify areas that might need additional focus.
    - question: "Are there classes during the term breaks?"
      answer: |
        No, we do not conduct classes during term breaks. We believe it is crucial for students to have adequate rest and enjoy their breaks to refresh and rejuvenate. The break also allows them to explore and work on their personal projects, applying the skills they've learned independently.
    - question: "Are students grouped in classes based on their age?"
      answer: |
        While age can be a factor, we primarily group students based on their skill level and understanding of the subject matter to ensure an optimized learning experience. This approach allows peers to learn and progress together, promoting a collaborative and encouraging learning environment.
    - question: "How do you cater to students with different learning speeds and needs?"
      answer: |
        We appreciate that each student has a unique learning style and pace. Our educators are adept at recognizing and adapting teaching methods to cater to individual needs. Additionally, with our small class sizes, we can provide personalized attention, ensuring that each student can learn and progress in a way that suits them best.                              

contact_area:
  enable: true
  title: "Get in Touch"
  sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."
  action_email: "info@codebricks.co.nz"
  image: "/assets/images/art/reception.jpeg"
  address: |
    <strong>Browns Bay Center<br /> Botany Center<br /></strong>
  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required"

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Last Name"
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "last_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "input"
      field_name: "user_phone"
      placeholder: "Phone"
      error_message: "Phone Number Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"

---
{% include header.html container_class="container" extra_class="absolute transparent inverse-text nav-uppercase" light_logo="true" %}
{% if page.hero_area.enable %}
<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullwidth-container">
    <div id="slider10" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="">
          <img src="{{page.hero_area.bg_image}}" alt="{{page.hero_area.title}}"/>
          <div class="tp-caption font-weight-600 color-white text-center" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['-45','-45','-45','-45']" 
               data-fontsize="['50','50','40','36']" 
               data-lineheight="['65','65','55','51']" 
               data-width="['550','550','550','340']" 
               data-textAlign="['center','center','center','center']" 
               data-whitespace="['normal','normal','normal','normal']" 
               data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.title}}
          </div>
          <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['150','150','150','150']" 
               data-width="['auto','auto','auto','auto']" 
               data-textAlign="['center','center','center','center']" 
               data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;" href="{{page.hero_area.btn_url}}"> {{page.hero_area.btn_text}}
          </a>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper white-wrapper">
  <div class="container inner">
    {% if page.three_columns_area.enable %}
    <div class="three-columns-wrapper">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="text-center">
            <h2 id="whatwedo" class="title-bg bg-default color-default">{{page.three_columns_area.title}}</h2>
          </div>
          <div class="space10"></div>
          <h3 class="display-3 text-center">{{page.three_columns_area.sub_title}}</h3>
          <div class="space30"></div>
        </div>
      </div>
      <div class="row gutter-60 text-center align-items-end">
        {% for service in page.three_columns_area.services %}
        <div class="col-md-4">
          <figure class="mb-30"><img src="{{service.image}}"  alt="{{service.title}}"/></figure>
          <h4>{{service.title}}</h4>
          <p class="mb-15">{{service.description}}</p>
          <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
        </div>
        <div class="space20 d-md-none"></div>
        {% endfor %}
      </div>
    </div>
    {% endif %}



    {% assign colmns_data_one = page.two_columns_one_area %}
    {% if colmns_data_one.enable %}
    <div class="two-columns-one">
      <div class="space140"></div>
        <div class="row align-items-center">
          {% if colmns_data_one.image %}
          <div class="col-lg-6">
            <figure>
              <img src="{{colmns_data_one.image}}"  alt="{{colmns_data_one.title}}"/>
            </figure>
          </div>
          <!--/column -->
          {% endif %}
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pl-60 pl-md-15">
            <h2 class="title-bg bg-default color-default">{{colmns_data_one.title}}</h2>
            <div class="space10"></div>
            <h3 class="display-3">{{colmns_data_one.sub_title}}</h3>
            <div class="space20"></div>
            <div class="row">
              {% for list in colmns_data_one.lists %}
              <div class="col-md-6">
                <h5><span class="color-default">{{forloop.index}}.</span> {{list.title}}</h5>
                <p>{{list.description}}</p>
              </div>
              {% assign value = forloop.index | modulo:2 %}
              {% if value == 0 %}
               <div class="space10 d-none d-md-block"></div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
    {% endif %}
    {% if page.clients_carousel.enable %}
      <div class="space80"></div>
      {% include clients_carousel.html %}
    {% endif %}
    {% assign columns_data_two = page.two_columns_two_area %}
    {% if columns_data_two.enable %}
    <div class="two-columns-two">
      <div class="space140"></div>
        <div class="row align-items-center">
          {% if columns_data_two.image %}
          <div class="col-lg-6 order-lg-2 text-center">
             <figure>
               <img src="{{columns_data_two.image}}" alt="{{columns_data_two.title}}"/>
            </figure>
          </div>
          {% endif %}
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-6 pr-60 pr-md-15">
            <h2 class="title-bg bg-default color-default">{{columns_data_two.title}}</h2>
            <div class="space10"></div>
            <h3 class="display-3">{{columns_data_two.sub_title}}</h3>
            <div class="space20"></div>
            <div id="accordion-1" class="accordion-wrapper simple">
              {% for tabs_data in columns_data_two.tabs %}
              <div class="card">
                <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
                  <h5>
                    <button data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="true" aria-controls="accordion-collapse-1-{{forloop.index}}">
                      {{tabs_data.title}}
                    </button>
                  </h5>
                </div>
                <div id="accordion-collapse-1-{{forloop.index}}" class="collapse {% if forloop.index == 1 %} show {% endif %}" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>{{tabs_data.content}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>  
    {% endif %}
  </div>
  {% if page.video_area.enable %}
  <div class="video-area">
  <div class="wrapper image-wrapper bg-image gradient-overlay inverse-text" data-image-src="{{page.video_area.image}}">
    <div class="container inner pt-140 pb-140 text-center">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="title-bg bg-white color-dark">{{page.video_area.title}}</h2>
          <div class="space10"></div>
          <h3 class="display-3">{{page.video_area.sub_title}}</h3>
          <div class="space10"></div>
          <div class="light-gallery-wrapper">
            <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endif %}
   {% if page.blogs_area.enable %}
    <div class="wrapper light-wrapper">
      <div class="container inner">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <div class="text-center">
              <h2 class="title-bg bg-default color-default">{{page.blogs_area.title}}</h2>
            </div>
            <div class="space10"></div>
            <h3 class="display-3 text-center">{{page.blogs_area.sub_title}}</h3>
            <div class="space40"></div>
          </div>
        </div>
        <div class="grid-view">
          <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}' data-dotsEach="false">
            {% for post in site.posts limit: page.blogs_area.posts_number   %}
            <div class="item blog-posts">
              {% if post.post_image %}
              <figure class="overlay overlay1 rounded mb-30"><a href="{{post.url}}"> <img src="{{post.post_image}}" class="post-thumb" alt="{{post.title}}"/></a>
                <figcaption>
                  <h5 class="from-top mb-0">Read More</h5>
                </figcaption>
              </figure>
              {% endif %}
              <h2 class="post-title mb-0"><a href="{{post.url}}">{{post.title}}</a></h2>
            </div>
            {% endfor %}
          </div>
          <!-- /.owl-carousel -->
        </div>
        <!-- /.grid-view -->
      </div>
    </div>
    {% endif %}
    {% if page.testimonials_area.enable %}
    <div class="wrapper white-wrapper inner">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <div class="text-center">
              <h2 class="title-bg bg-default color-default">
                {{page.testimonials_area.title}}
              </h2>
            </div>
            <div class="space10"></div>
            <h3 class="display-3 text-center">
               {{page.testimonials_area.sub_title}}
            </h3>
            <div class="space40"></div>
          </div>
        </div>
        <div class="row align-items-center">
          {% if page.testimonials_area.image %}
          <div class="col-lg-6 pr-60 pr-md-15">
            <figure><img src="{{page.testimonials_area.image}}"  alt="{{page.testimonials_area.title}}"/></figure>
          </div>
          {% endif %}
          <div class="space20 d-md-none"></div>
          <div class="space50 d-none d-md-block d-lg-none"></div>
          <div class="col-lg-5">
            <div class="basic-slider owl-carousel gap-small dots-left" data-margin="30">
              {% for testimonial in page.testimonials_area.testimonials %}
              <div class="item">
                <blockquote class="icon icon-left larger text-left">
                  <p>{{testimonial.quote}}</p>
                  <div class="blockquote-details">
                    <div class="info p-0">
                      <h6 class="mb-0">{{testimonial.author}}</h6>
                      <span class="meta mb-0">{{testimonial.bio}}</span>
                    </div>
                  </div>
                </blockquote>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- {% if page.clients_carousel.enable %}
        <div class="space80"></div>
         {% include clients_carousel.html %}
        {% endif %} -->
      </div>
    </div>
    {% endif%}
    {% if page.faq_area.enable %}
    <div class="wrapper light-wrapper inner">
        <div class="container">
            <div class="row">
              {% if page.faq_area.image %}
                <div class="col-md-6">
                    <figure>
                      <img src="{{page.faq_area.image}}"  alt="{{page.faq_area.title}}"/>
                    </figure>
                </div>
                {% endif %}
                <div class="space50 d-none d-md-block d-lg-none"></div>
                <div class="space10 d-md-none"></div>
                <div class="col-lg-12 pl-60 pl-md-15">
                    <h2 class="title-bg bg-default color-default">{{page.faq_area.title}}</h2>
                    <div class="space10"></div>
                    <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
                    <div class="space20"></div>
                    <div id="accordion-2" class="accordion-wrapper simple">
                       {% for tab in page.faq_area.tabs %}
                        <div class="card">
                            <div class="card-header" id="accordion-heading-2-1">
                                <h5>
                                    <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                     {{tab.question}}
                                    </button>
                                </h5>
                            </div>
                            <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                                <div class="card-body">
                                    <p>
                                       {{tab.answer}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.accordion-wrapper -->
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if page.contact_area.enable %}
    <div class="contact-area"> 
    <div class="wrapper gray-wrapper">
      <div class="container inner">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <h2 class="title-color color-gray text-center">{{page.contact_area.title}}</h2>
            <h3 class="display-3 text-center">{{page.contact_area.sub_title}}</h3>
            <div class="space40"></div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div>
              {% if page.contact_area.image %}
              <div class="img-blob blob3">
                <img src="{{page.contact_area.image}}" style="width: 30rem" alt="{{page.contact_area.title}}"/>
              </div>
              {% endif %}
              <div class="row counter counter-s position-absolute" style="top: 60%; left: 15%;">
                <div class="col-md-10 text-center">
                  <div class="full-circle bg-default color-white">
                    <div class="full-circle-inner">
                    <address class="mb-0">
                      {{page.contact_area.address}}
                    </address>
                    </div>
                    <!--/.full-circle-inner -->
                  </div>
                  <!--/.full-circle -->
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
          </div>
          <!--/column -->
          <div class="space50 d-lg-none"></div>
          <div class="col-lg-6 pl-40 pl-md-15">
            <form id="contact-form" action="https://formsubmit.io/send/{{page.contact_area.action_email}}">
              <div class="messages"></div>
              <div class="controls">
                <div class="form-row">
                  {% for forms_data in page.contact_area.forms_data %}
                  {% if forms_data.field_type == "input" %}
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="{{forms_data.field_name}}" type="text" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" required="required" data-error="{{forms_data.error_message}}">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                   {% else if forms_data.field_type == "textarea" %}
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4" required="required" data-error="{{forms_data.error_message}}"></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                     {% endif %}
                  {% endfor %}
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <input type="submit" class="btn btn-send" value="Send message">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <p class="text-muted mb-0"><strong>*</strong> These fields are required.</p>
                  </div>
                </div>
              </div>
            </form>
            <!-- /form -->
          </div>
          <!--/column -->
        </div>
      </div>
    </div>
    </div>
    {% endif %}
</div>
{% include footer_3.html light_logo="true" %}