<!-- no footer at all! -->
<!-- <div class="text-right">
<iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/6565cb49-5e76-4beb-9525-ef18c1f170d7">
</iframe>
</div> -->

<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">
      {{ site.data.footer.copyright }}
      &nbsp;
      {% for link in site.data.footer.links %}
          <a href="{{ link.url }}" {% assign new_window_is_not_empty = link.new_window | is_not_empty %}
          {% if new_window_is_not_empty %}target="_blank" rel="noopener"
          {% endif %}>{{ link.text }}</a>
      {% endfor %} 
    </div>
  </div>
</footer>
